figure, button, textarea {
  display: block;
  margin: 8px 0;
}
textarea {
  width: 100%;
}
label {
  display: block;
  margin-bottom: .6em;
}
input[type=text] {
  display: block;
  margin: .3em 0;
  width: 100%;
  box-sizing: border-box;
}
[hidden] {
  display: none!important;
}
