:root {
  color-scheme: light dark;
}
body {
  font-family: Open Sans, sans-serif;
  background-color: light-dark(hsl(20 45% 40%), hsl(20 25% 15%));
}
button {
  border: none;
  border-radius: 4px;
}
header {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  background-color: light-dark(hsl(210 33% 55%), hsl(210 33% 25%));
  color: #fbfdfe;
  text-shadow: .5px 1px 2px #4568;
  box-shadow: 0 1px 32px light-dark(#fff4, #fff2);
}
nav a {
  color: inherit;
  text-decoration: none;
}
h1 img {
  filter: drop-shadow(3px -1px 2px #7894);
}
