body {
  font-family: Open Sans, sans-serif;
  background-color: #953;
}
button {
  border: none;
  border-radius: 4px;
}
button img {
  pointer-events: none;
}
button label {
  cursor: pointer;
}
header {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  background-color: #f8f8f8;
}
nav a {
  color: inherit;
  text-decoration: none;
}

