body {
  font-family: Open Sans, sans-serif;
  background-color: hsl(20 45% 40%);
}
button {
  border: none;
  border-radius: 4px;
}
header {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  background-color: hsl(210 33% 55%);
  color: #fbfdfe;
  text-shadow: .5px 1px 2px #4568;
  box-shadow: 0 1px 32px #fff4;
}
nav a {
  color: inherit;
  text-decoration: none;
}
h1 img {
  filter: drop-shadow(3px -1px 2px #7894);
}
