.tabicon {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  vertical-align: bottom;
}
.tablist {
  list-style: none;
  padding: 2px 6px;
  margin: 0;
}
.tablist-item {
  margin: 8px;
}
.tabstash {
  margin: 12px;
}
.flap {
  padding: 6px;
}
h3, h4 {
  margin: 0 6px;
}
#stashes {
  padding: 24px;
}
