/* override base full-height */
html, body {
  height: auto;
}
h2 {
  margin: 5px 10px;
}
#dash {
  box-sizing: border-box;
  padding: 6px;
}
label {
  display: block;
}
.stash-button {
  padding: 0;
}
.stash-button img {
  display: block;
  width: 80px;
  padding: 0;
  margin: 4px 4px 0;
}
