h2 {
  margin: 5px 10px;
}
input {
  width: 100%;
}
#dash {
  box-sizing: border-box;
  padding: 6px;
}
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
button {
  border: none;
}
label {
  display: block;
}
.stash-button {
  padding: 0;
}
.stash-button img {
  display: block;
  width: 80px;
  padding: 0;
  margin: 8px 4px 0;
}
.input-row {
  margin: 10px 5px;
}
.input-row > * {
  margin: 0 5px;
}
