#dash {
  background-color: #b7daf5;
}
.stash-button {
  background-color: #deaa87;
}
.stash-button img {
  background-color: #deaa87;
}
.stash-button label {
  background-color: #eacfbc;
}
.pending::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center url(/images/spinner.svg), rgba(0, 0, 0, 0.5);
}

.snapshot-ui-tab-inner {
  background: rgba(255, 255, 255, 0.5);
}
.snapshot-ui-tab input:checked + .snapshot-ui-tab-inner {
  background: rgba(255, 255, 255, 0.8);
}
.snapshot-ui-tab .tab-title,
.snapshot-ui-tab .tab-url {
  font-size: 0.7em;
  text-overflow: ellipsis;
}
