#dash {
  background-color: #b7daf5;
}
header {
  background-color: #f8f8f8;
}
.stash-button {
  background-color: #deaa87;
}
.stash-button img {
  background-color: #deaa87;
}
.stash-button label {
  background-color: #eacfbc;
}
